.mediaViewInfo {
	--web-view-name: 홈페이지;
	--web-view-id: Artboard;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
	--web-page-font: Noto Sans CJK KR;
}
:root {
	--web-view-ids: Artboard;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
#Artboard {
	position: absolute;
	width: 1920px;
	height: 4320px;
	font-family: Noto Sans CJK KR;
	background-color: rgba(255,255,255,1);
	overflow: hidden;
	--web-view-name: 홈페이지;
	--web-view-id: Artboard;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
	--web-page-font: Noto Sans CJK KR;
}
#n_3 {
	position: absolute;
	width: 1920px;
	height: 1034px;
	left: 0px;
	top: 0px;
	display: none;
	overflow: visible;
}
#n_3_h {
	opacity: 0.5;
	filter: blur(30px);
	fill: rgba(255,255,255,1);
}
.n_3_h {
	position: absolute;
	overflow: visible;
	width: 1920px;
	height: 1034px;
	left: 0px;
	top: 0px;
}
#n_2 {
	fill: rgba(255,255,255,1);
}
.n_2 {
	filter: drop-shadow(10px 10px 10px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 600px;
	height: 692px;
	left: 587px;
	top: 187px;
}
#n___________________ {
	left: 643px;
	top: 297px;
	position: absolute;
	overflow: visible;
	width: 435px;
	white-space: nowrap;
	text-align: center;
	font-family: Noto Sans CJK KR, Noto Sans CJK KR;
	font-style: normal;
	font-weight: bold;
	font-size: 30px;
	color: rgba(0,0,0,1);
}
#n_3213213 {
	position: absolute;
	width: 136px;
	height: 135px;
	left: 750px;
	top: 30px;
	overflow: visible;
}
#Text {
	left: 886px;
	top: 61px;
	position: absolute;
	overflow: visible;
	width: 75px;
	white-space: nowrap;
	text-align: left;
	font-family: Noto Sans CJK KR, Noto Sans CJK KR;
	font-style: normal;
	font-weight: bold;
	font-size: 40px;
	color: rgba(255,255,255,1);
}
#n__1 {
	position: absolute;
	width: 1965px;
	height: 1151px;
	left: -20px;
	top: 1018px;
	overflow: visible;
}
#n__1_n {
	filter: blur(8px);
	position: absolute;
	width: 2023px;
	height: 1151px;
	left: -66px;
	top: 1018px;
	overflow: visible;
}
#n__ {
	position: absolute;
	width: 1945px;
	height: 1025px;
	left: -25px;
	top: 64px;
	overflow: visible;
}
#n___p {
	filter: blur(8px);
	position: absolute;
	width: 1970px;
	height: 1025px;
	left: -25px;
	top: 64px;
	overflow: visible;
}
#n___q {
	position: absolute;
	width: 1974px;
	height: 942px;
	left: -29px;
	top: 3240px;
	overflow: visible;
}
#n___r {
	filter: blur(8px);
	position: absolute;
	width: 1974px;
	height: 916px;
	left: -29px;
	top: 3253px;
	overflow: visible;
}
#n_11 {
	fill: rgba(104,104,104,1);
}
.n_11 {
	overflow: visible;
	position: absolute;
	width: 1920px;
	height: 1px;
	left: 0px;
	top: 4182px;
	transform: matrix(1,0,0,1,0,0);
}
#n_3_u {
	fill: url(#n_3_u);
}
.n_3_u {
	overflow: visible;
	position: absolute;
	width: 1920px;
	height: 8.748px;
	left: 0px;
	top: 4182.247px;
	transform: matrix(1,0,0,1,0,0);
}
#n_13_w {
	fill: url(#n_13_w);
}
.n_13_w {
	overflow: visible;
	position: absolute;
	width: 1920px;
	height: 18.137px;
	left: 0px;
	top: 1070.931px;
	transform: matrix(1,0,0,1,0,0);
}
#n_11_x {
	position: absolute;
	width: 445px;
	height: 393px;
	left: 344px;
	top: 364px;
	overflow: visible;
}
#n_27 {
	position: absolute;
	width: 445px;
	height: 393px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#n_9 {
	position: absolute;
	width: 383px;
	height: 351.407px;
	left: 0px;
	top: 41.593px;
	overflow: visible;
}
#n_1 {
	fill: rgba(255,255,255,1);
}
.n_1 {
	filter: drop-shadow(10px 10px 10px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 413px;
	height: 381px;
	left: 0px;
	top: 0.407px;
}
#n_5 {
	position: absolute;
	width: 382.84px;
	height: 58.03px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#n_2_ {
	fill: rgba(215,180,249,1);
}
.n_2_ {
	overflow: visible;
	position: absolute;
	width: 382.84px;
	height: 58.03px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#n_4 {
	position: absolute;
	width: 100px;
	height: 23px;
	left: 25px;
	top: 18.407px;
	overflow: visible;
}
#n_1_ {
	fill: rgba(255,125,125,1);
}
.n_1_ {
	position: absolute;
	overflow: visible;
	width: 23px;
	height: 23px;
	left: 0px;
	top: 0px;
}
#n_2_ba {
	fill: rgba(255,194,125,1);
}
.n_2_ba {
	position: absolute;
	overflow: visible;
	width: 22px;
	height: 23px;
	left: 39px;
	top: 0px;
}
#n_3_ {
	fill: rgba(255,246,125,1);
}
.n_3_ {
	position: absolute;
	overflow: visible;
	width: 23px;
	height: 23px;
	left: 77px;
	top: 0px;
}
#n_8 {
	position: absolute;
	width: 383px;
	height: 352px;
	left: 62px;
	top: 0px;
	overflow: visible;
}
#n_1_ba {
	fill: rgba(255,255,255,1);
}
.n_1_ba {
	filter: drop-shadow(10px 10px 10px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 413px;
	height: 382px;
	left: 0px;
	top: 0px;
}
#n_5_ {
	position: absolute;
	width: 382.84px;
	height: 58.03px;
	left: 0.06px;
	top: 0.488px;
	overflow: visible;
}
#n_1_bb {
	fill: rgba(206,209,255,1);
}
.n_1_bb {
	overflow: visible;
	position: absolute;
	width: 382.84px;
	height: 58.03px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#n_4_bb {
	position: absolute;
	width: 100px;
	height: 23px;
	left: 24.94px;
	top: 18.512px;
	overflow: visible;
}
#n_1_bc {
	fill: rgba(255,125,125,1);
}
.n_1_bc {
	position: absolute;
	overflow: visible;
	width: 23px;
	height: 23px;
	left: 0px;
	top: 0px;
}
#n_2_bd {
	fill: rgba(255,194,125,1);
}
.n_2_bd {
	position: absolute;
	overflow: visible;
	width: 22px;
	height: 23px;
	left: 39px;
	top: 0px;
}
#n_3_be {
	fill: rgba(255,246,125,1);
}
.n_3_be {
	position: absolute;
	overflow: visible;
	width: 23px;
	height: 23px;
	left: 77px;
	top: 0px;
}
#n___bf {
	opacity: 0.9;
	left: 112px;
	top: 88px;
	position: absolute;
	overflow: visible;
	width: 285px;
	height: 176px;
	line-height: 60px;
	margin-top: -10px;
	text-align: center;
	font-family: S-Core Dream 5, Noto Sans CJK KR;
	font-style: normal;
	font-weight: normal;
	font-size: 40px;
	color: rgba(0,0,0,1);
}
#n_29 {
	position: absolute;
	width: 214px;
	height: 44px;
	left: 853px;
	top: 4236px;
	overflow: visible;
}
#n_10 {
	fill: rgba(255,255,255,1);
}
.n_10 {
	position: absolute;
	overflow: visible;
	width: 214px;
	height: 44px;
	left: 0px;
	top: 0px;
}
#Copyright_ParkJunHyeok {
	left: 11px;
	top: 11px;
	position: absolute;
	overflow: visible;
	width: 193px;
	height: 21px;
	text-align: center;
	font-family: S-Core Dream 5, Noto Sans CJK KR;
	font-style: normal;
	font-weight: normal;
	font-size: 15px;
	color: rgba(23,0,148,1);
}
#n_5_bj {
	fill: rgba(125,125,125,1);
}
.n_5_bj {
	overflow: visible;
	position: absolute;
	width: 270px;
	height: 1px;
	left: 1650px;
	top: 4320px;
	transform: matrix(1,0,0,1,0,0);
}
#n_3213213_bk {
	position: absolute;
	width: 521px;
	height: 521px;
	left: 960px;
	top: 300px;
	overflow: visible;
}
#n_6 {
	fill: transparent;
	stroke: rgba(0,0,0,1);
	stroke-width: 5px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.n_6 {
	overflow: visible;
	position: absolute;
	width: 1px;
	height: 1px;
	left: 1652.158px;
	top: 720.116px;
	transform: matrix(1,0,0,1,0,0);
}
#n_139 {
	position: absolute;
	width: 573px;
	height: 510.501px;
	left: 1043px;
	top: 1164px;
	overflow: visible;
}
#n_38 {
	position: absolute;
	width: 573px;
	height: 510.501px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#n_1_bo {
	fill: rgba(255,255,255,1);
}
.n_1_bo {
	filter: drop-shadow(10px 10px 10px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 603px;
	height: 540.501px;
	left: 0px;
	top: 0px;
}
#n_5_bp {
	position: absolute;
	width: 573px;
	height: 84px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#n_4_bq {
	fill: rgba(226,255,254,1);
}
.n_4_bq {
	position: absolute;
	overflow: visible;
	width: 573px;
	height: 84px;
	left: 0px;
	top: 0px;
}
#n_4_br {
	position: absolute;
	width: 145px;
	height: 33px;
	left: 37px;
	top: 27px;
	overflow: visible;
}
#n_1_bs {
	fill: rgba(255,125,125,1);
}
.n_1_bs {
	position: absolute;
	overflow: visible;
	width: 33px;
	height: 33px;
	left: 0px;
	top: 0px;
}
#n_2_bt {
	fill: rgba(255,194,125,1);
}
.n_2_bt {
	position: absolute;
	overflow: visible;
	width: 33px;
	height: 33px;
	left: 56px;
	top: 0px;
}
#n_3_bu {
	fill: rgba(255,246,125,1);
}
.n_3_bu {
	position: absolute;
	overflow: visible;
	width: 33px;
	height: 33px;
	left: 112px;
	top: 0px;
}
#n_141 {
	position: absolute;
	width: 509px;
	height: 277.501px;
	left: 40px;
	top: 177px;
	overflow: visible;
}
#n_ {
	left: 20px;
	top: 0.61px;
	position: absolute;
	overflow: visible;
	width: 91px;
	white-space: nowrap;
	text-align: left;
	font-family: Noto Sans CJK KR, Noto Sans CJK KR;
	font-style: normal;
	font-weight: bold;
	font-size: 23px;
	color: rgba(81,81,81,1);
}
#Text_bx {
	left: 157px;
	top: 0.61px;
	position: absolute;
	overflow: visible;
	width: 64px;
	white-space: nowrap;
	text-align: left;
	font-family: Noto Sans CJK KR, Noto Sans CJK KR;
	font-style: normal;
	font-weight: bold;
	font-size: 23px;
	color: rgba(81,81,81,1);
}
#Text_by {
	left: 267px;
	top: 0.61px;
	position: absolute;
	overflow: visible;
	width: 43px;
	white-space: nowrap;
	text-align: left;
	font-family: Noto Sans CJK KR, Noto Sans CJK KR;
	font-style: normal;
	font-weight: bold;
	font-size: 23px;
	color: rgba(81,81,81,1);
}
#Text_bz {
	left: 393px;
	top: 0.61px;
	position: absolute;
	overflow: visible;
	width: 64px;
	white-space: nowrap;
	text-align: left;
	font-family: Noto Sans CJK KR, Noto Sans CJK KR;
	font-style: normal;
	font-weight: bold;
	font-size: 23px;
	color: rgba(81,81,81,1);
}
#n_1_b {
	fill: transparent;
	stroke: rgba(112,112,112,1);
	stroke-width: 3px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.n_1_b {
	overflow: visible;
	position: absolute;
	width: 3px;
	height: 277.501px;
	left: 134.312px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#n_2_b {
	fill: transparent;
	stroke: rgba(112,112,112,1);
	stroke-width: 3px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.n_2_b {
	overflow: visible;
	position: absolute;
	width: 3px;
	height: 173.292px;
	left: 244.375px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#n_3_b {
	fill: transparent;
	stroke: rgba(112,112,112,1);
	stroke-width: 3px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.n_3_b {
	overflow: visible;
	position: absolute;
	width: 3px;
	height: 277.501px;
	left: 333.363px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#n_0200102 {
	left: 0px;
	top: 36.61px;
	position: absolute;
	overflow: visible;
	width: 124px;
	white-space: nowrap;
	text-align: left;
	font-family: Noto Sans CJK KR, Noto Sans CJK KR;
	font-style: normal;
	font-weight: bold;
	font-size: 23px;
	color: rgba(81,81,81,1);
}
#n_0201218 {
	left: 0px;
	top: 70.61px;
	position: absolute;
	overflow: visible;
	width: 124px;
	white-space: nowrap;
	text-align: left;
	font-family: Noto Sans CJK KR, Noto Sans CJK KR;
	font-style: normal;
	font-weight: bold;
	font-size: 23px;
	color: rgba(81,81,81,1);
}
#n_0210319 {
	left: 0px;
	top: 104.61px;
	position: absolute;
	overflow: visible;
	width: 124px;
	white-space: nowrap;
	text-align: left;
	font-family: Noto Sans CJK KR, Noto Sans CJK KR;
	font-style: normal;
	font-weight: bold;
	font-size: 23px;
	color: rgba(81,81,81,1);
}
#n_0210611 {
	left: 0px;
	top: 138.61px;
	position: absolute;
	overflow: visible;
	width: 124px;
	white-space: nowrap;
	text-align: left;
	font-family: Noto Sans CJK KR, Noto Sans CJK KR;
	font-style: normal;
	font-weight: bold;
	font-size: 23px;
	color: rgba(81,81,81,1);
}
#n_0210716 {
	left: 0px;
	top: 172.61px;
	position: absolute;
	overflow: visible;
	width: 124px;
	white-space: nowrap;
	text-align: left;
	font-family: Noto Sans CJK KR, Noto Sans CJK KR;
	font-style: normal;
	font-weight: bold;
	font-size: 23px;
	color: rgba(81,81,81,1);
}
#n__b {
	left: 143px;
	top: 36.61px;
	position: absolute;
	overflow: visible;
	width: 91px;
	white-space: nowrap;
	text-align: left;
	font-family: Noto Sans CJK KR, Noto Sans CJK KR;
	font-style: normal;
	font-weight: bold;
	font-size: 23px;
	color: rgba(81,81,81,1);
}
#GTQ {
	left: 165px;
	top: 70.61px;
	position: absolute;
	overflow: visible;
	width: 48px;
	white-space: nowrap;
	text-align: left;
	font-family: Noto Sans CJK KR, Noto Sans CJK KR;
	font-style: normal;
	font-weight: bold;
	font-size: 23px;
	color: rgba(81,81,81,1);
}
#GTQi {
	left: 162px;
	top: 104.61px;
	position: absolute;
	overflow: visible;
	width: 55px;
	white-space: nowrap;
	text-align: left;
	font-family: Noto Sans CJK KR, Noto Sans CJK KR;
	font-style: normal;
	font-weight: bold;
	font-size: 23px;
	color: rgba(81,81,81,1);
}
#GTQId {
	left: 154px;
	top: 138.61px;
	position: absolute;
	overflow: visible;
	width: 71px;
	white-space: nowrap;
	text-align: left;
	font-family: Noto Sans CJK KR, Noto Sans CJK KR;
	font-style: normal;
	font-weight: bold;
	font-size: 23px;
	color: rgba(81,81,81,1);
}
#Text_cc {
	left: 141px;
	top: 177.61px;
	position: absolute;
	overflow: visible;
	width: 177px;
	white-space: nowrap;
	text-align: center;
	font-family: Noto Sans CJK KR, Noto Sans CJK KR;
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	color: rgba(81,81,81,1);
}
#A {
	left: 272px;
	top: 36.61px;
	position: absolute;
	overflow: visible;
	width: 37px;
	white-space: nowrap;
	text-align: left;
	font-family: Noto Sans CJK KR, Noto Sans CJK KR;
	font-style: normal;
	font-weight: bold;
	font-size: 23px;
	color: rgba(81,81,81,1);
}
#n__ce {
	left: 272px;
	top: 70.61px;
	position: absolute;
	overflow: visible;
	width: 36px;
	white-space: nowrap;
	text-align: left;
	font-family: Noto Sans CJK KR, Noto Sans CJK KR;
	font-style: normal;
	font-weight: bold;
	font-size: 23px;
	color: rgba(81,81,81,1);
}
#n__cf {
	left: 272px;
	top: 104.61px;
	position: absolute;
	overflow: visible;
	width: 36px;
	white-space: nowrap;
	text-align: left;
	font-family: Noto Sans CJK KR, Noto Sans CJK KR;
	font-style: normal;
	font-weight: bold;
	font-size: 23px;
	color: rgba(81,81,81,1);
}
#n__cg {
	left: 272px;
	top: 138.61px;
	position: absolute;
	overflow: visible;
	width: 36px;
	white-space: nowrap;
	text-align: left;
	font-family: Noto Sans CJK KR, Noto Sans CJK KR;
	font-style: normal;
	font-weight: bold;
	font-size: 23px;
	color: rgba(81,81,81,1);
}
#Text_ch {
	left: 351px;
	top: 36.61px;
	position: absolute;
	overflow: visible;
	width: 149px;
	white-space: nowrap;
	text-align: left;
	font-family: Noto Sans CJK KR, Noto Sans CJK KR;
	font-style: normal;
	font-weight: bold;
	font-size: 23px;
	color: rgba(81,81,81,1);
}
#Text_ci {
	left: 351px;
	top: 70.61px;
	position: absolute;
	overflow: visible;
	width: 149px;
	white-space: nowrap;
	text-align: left;
	font-family: Noto Sans CJK KR, Noto Sans CJK KR;
	font-style: normal;
	font-weight: bold;
	font-size: 23px;
	color: rgba(81,81,81,1);
}
#Text_cj {
	left: 351px;
	top: 138.61px;
	position: absolute;
	overflow: visible;
	width: 149px;
	white-space: nowrap;
	text-align: left;
	font-family: Noto Sans CJK KR, Noto Sans CJK KR;
	font-style: normal;
	font-weight: bold;
	font-size: 23px;
	color: rgba(81,81,81,1);
}
#Text_ck {
	left: 340px;
	top: 172.61px;
	position: absolute;
	overflow: visible;
	width: 170px;
	white-space: nowrap;
	text-align: left;
	font-family: Noto Sans CJK KR, Noto Sans CJK KR;
	font-style: normal;
	font-weight: bold;
	font-size: 23px;
	color: rgba(81,81,81,1);
}
#Text_cl {
	left: 351px;
	top: 104.61px;
	position: absolute;
	overflow: visible;
	width: 149px;
	white-space: nowrap;
	text-align: left;
	font-family: Noto Sans CJK KR, Noto Sans CJK KR;
	font-style: normal;
	font-weight: bold;
	font-size: 23px;
	color: rgba(81,81,81,1);
}
#n_12 {
	fill: rgba(0,0,0,0);
	stroke: rgba(112,112,112,1);
	stroke-width: 3px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.n_12 {
	overflow: visible;
	position: absolute;
	width: 494.116px;
	height: 3px;
	left: 0.245px;
	top: 36.883px;
	transform: matrix(1,0,0,1,0,0);
}
#Text_cn {
	left: 38px;
	top: 110px;
	position: absolute;
	overflow: visible;
	width: 227px;
	white-space: nowrap;
	text-align: left;
	font-family: Noto Sans CJK KR, Noto Sans CJK KR;
	font-style: normal;
	font-weight: bold;
	font-size: 41px;
	color: rgba(0,0,0,1);
}
#n_44 {
	position: absolute;
	width: 739px;
	height: 560px;
	left: 273px;
	top: 1320px;
	overflow: visible;
}
#n_42 {
	position: absolute;
	width: 739px;
	height: 560px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#n_1_cq {
	fill: rgba(255,255,255,1);
}
.n_1_cq {
	filter: drop-shadow(10px 10px 10px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 769px;
	height: 590px;
	left: 0px;
	top: 0px;
}
#n_5_cr {
	position: absolute;
	width: 739px;
	height: 72px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#n_4_cs {
	fill: rgba(226,255,254,1);
}
.n_4_cs {
	position: absolute;
	overflow: visible;
	width: 739px;
	height: 72px;
	left: 0px;
	top: 0px;
}
#n_4_ct {
	position: absolute;
	width: 124px;
	height: 28px;
	left: 31px;
	top: 23px;
	overflow: visible;
}
#n_1_cu {
	fill: rgba(255,125,125,1);
}
.n_1_cu {
	position: absolute;
	overflow: visible;
	width: 28px;
	height: 28px;
	left: 0px;
	top: 0px;
}
#n_2_cv {
	fill: rgba(255,194,125,1);
}
.n_2_cv {
	position: absolute;
	overflow: visible;
	width: 28px;
	height: 28px;
	left: 48px;
	top: 0px;
}
#n_3_cw {
	fill: rgba(255,246,125,1);
}
.n_3_cw {
	position: absolute;
	overflow: visible;
	width: 28px;
	height: 28px;
	left: 96px;
	top: 0px;
}
#n_____________________3____20_ {
	left: 29px;
	top: 227px;
	position: absolute;
	overflow: visible;
	width: 660px;
	white-space: nowrap;
	text-align: left;
	font-family: Noto Sans CJK KR, Noto Sans CJK KR;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	color: rgba(81,81,81,1);
}
#n___cy {
	left: 30px;
	top: 84px;
	position: absolute;
	overflow: visible;
	width: 320px;
	white-space: nowrap;
	text-align: left;
	font-family: Noto Sans CJK KR, Noto Sans CJK KR;
	font-style: normal;
	font-weight: bold;
	font-size: 35px;
	color: rgba(0,0,0,1);
}
#n__cz {
	left: 30px;
	top: 175px;
	position: absolute;
	overflow: visible;
	width: 170px;
	white-space: nowrap;
	text-align: left;
	font-family: Noto Sans CJK KR, Noto Sans CJK KR;
	font-style: normal;
	font-weight: bold;
	font-size: 35px;
	color: rgba(0,0,0,1);
}
#n_____ {
	left: 30px;
	top: 139px;
	position: absolute;
	overflow: visible;
	width: 436px;
	white-space: nowrap;
	text-align: left;
	font-family: Noto Sans CJK KR, Noto Sans CJK KR;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	color: rgba(81,81,81,1);
}
#n_45 {
	position: absolute;
	width: 573px;
	height: 382px;
	left: 1043px;
	top: 1705px;
	overflow: visible;
}
#n_1_c {
	fill: rgba(255,255,255,1);
}
.n_1_c {
	filter: drop-shadow(10px 10px 10px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 603px;
	height: 412px;
	left: 0px;
	top: 0px;
}
#n_1_da {
	position: absolute;
	width: 516px;
	height: 234px;
	left: 19px;
	top: 114px;
	overflow: visible;
}
#Ae {
	position: absolute;
	width: 62px;
	height: 62px;
	left: 268px;
	top: 3px;
	overflow: visible;
}
#ai {
	position: absolute;
	width: 64px;
	height: 64px;
	left: 1px;
	top: 86px;
	overflow: visible;
}
#Id {
	position: absolute;
	width: 64px;
	height: 64px;
	left: 1px;
	top: 169px;
	overflow: visible;
}
#Pr {
	position: absolute;
	width: 62px;
	height: 62px;
	left: 268px;
	top: 86px;
	overflow: visible;
}
#PS {
	position: absolute;
	width: 65px;
	height: 65px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#xd {
	position: absolute;
	width: 65px;
	height: 65px;
	left: 268px;
	top: 169px;
	overflow: visible;
}
#Adobe_Xd {
	left: 359px;
	top: 187px;
	position: absolute;
	overflow: visible;
	width: 75px;
	white-space: nowrap;
	text-align: left;
	font-family: Noto Sans CJK KR, Noto Sans CJK KR;
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	color: rgba(0,0,0,1);
}
#Adobe_Premiere_Pro {
	left: 359px;
	top: 106px;
	position: absolute;
	overflow: visible;
	width: 158px;
	white-space: nowrap;
	text-align: left;
	font-family: Noto Sans CJK KR, Noto Sans CJK KR;
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	color: rgba(0,0,0,1);
}
#Adobe_After_Effects {
	left: 359px;
	top: 21px;
	position: absolute;
	overflow: visible;
	width: 150px;
	white-space: nowrap;
	text-align: left;
	font-family: Noto Sans CJK KR, Noto Sans CJK KR;
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	color: rgba(0,0,0,1);
}
#Adobe_Photoshop {
	left: 88px;
	top: 21px;
	position: absolute;
	overflow: visible;
	width: 140px;
	white-space: nowrap;
	text-align: left;
	font-family: Noto Sans CJK KR, Noto Sans CJK KR;
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	color: rgba(0,0,0,1);
}
#Adobe_Illustrator {
	left: 88px;
	top: 105px;
	position: absolute;
	overflow: visible;
	width: 134px;
	white-space: nowrap;
	text-align: left;
	font-family: Noto Sans CJK KR, Noto Sans CJK KR;
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	color: rgba(0,0,0,1);
}
#Adobe_InDesign {
	left: 88px;
	top: 187px;
	position: absolute;
	overflow: visible;
	width: 124px;
	white-space: nowrap;
	text-align: left;
	font-family: Noto Sans CJK KR, Noto Sans CJK KR;
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	color: rgba(0,0,0,1);
}
#n___dg {
	left: 123px;
	top: 52px;
	position: absolute;
	overflow: visible;
	width: 301px;
	white-space: nowrap;
	text-align: center;
	font-family: S-Core Dream 5, Noto Sans CJK KR;
	font-style: normal;
	font-weight: normal;
	font-size: 27px;
	color: rgba(0,0,0,1);
}
#n_5_dh {
	position: absolute;
	width: 573px;
	height: 40px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#n_4_di {
	fill: rgba(226,255,254,1);
}
.n_4_di {
	position: absolute;
	overflow: visible;
	width: 573px;
	height: 40px;
	left: 0px;
	top: 0px;
}
#n_4_dj {
	position: absolute;
	width: 71px;
	height: 16px;
	left: 19px;
	top: 13px;
	overflow: visible;
}
#n_1_dk {
	fill: rgba(255,125,125,1);
}
.n_1_dk {
	position: absolute;
	overflow: visible;
	width: 16px;
	height: 16px;
	left: 0px;
	top: 0px;
}
#n_2_dl {
	fill: rgba(255,194,125,1);
}
.n_2_dl {
	position: absolute;
	overflow: visible;
	width: 17px;
	height: 16px;
	left: 26px;
	top: 0px;
}
#n_3_dm {
	fill: rgba(255,246,125,1);
}
.n_3_dm {
	position: absolute;
	overflow: visible;
	width: 16px;
	height: 16px;
	left: 55px;
	top: 0px;
}
#n__dn {
	left: 22px;
	top: 95px;
	position: absolute;
	overflow: visible;
	width: 97px;
	white-space: nowrap;
	text-align: left;
	font-family: Noto Sans CJK KR, Noto Sans CJK KR;
	font-style: normal;
	font-weight: bold;
	font-size: 35px;
	color: rgba(255,255,255,1);
}
#n__do {
	left: 22px;
	top: 1112px;
	position: absolute;
	overflow: visible;
	width: 97px;
	white-space: nowrap;
	text-align: left;
	font-family: Noto Sans CJK KR, Noto Sans CJK KR;
	font-style: normal;
	font-weight: bold;
	font-size: 35px;
	color: rgba(255,255,255,1);
}
#n_1_dq {
	filter: blur(8px);
	position: absolute;
	width: 1974px;
	height: 1080px;
	left: -29px;
	top: 2160px;
	overflow: visible;
}
#n_1_dq {
	filter: blur(8px);
	position: absolute;
	width: 1974px;
	height: 1080px;
	left: -29px;
	top: 2160px;
	overflow: visible;
}
#n__dr {
	left: 22px;
	top: 2185px;
	position: absolute;
	overflow: visible;
	width: 97px;
	white-space: nowrap;
	text-align: left;
	font-family: Noto Sans CJK KR, Noto Sans CJK KR;
	font-style: normal;
	font-weight: bold;
	font-size: 35px;
	color: rgba(255,255,255,1);
}
#n_15_dt {
	fill: url(#n_15_dt);
}
.n_15_dt {
	overflow: visible;
	position: absolute;
	width: 1920px;
	height: 18.137px;
	left: 0px;
	top: 2150.931px;
	transform: matrix(1,0,0,1,0,0);
}
#n_14_dv {
	fill: url(#n_14_dv);
}
.n_14_dv {
	overflow: visible;
	position: absolute;
	width: 1920px;
	height: 18.137px;
	left: 0px;
	top: 3230.931px;
	transform: matrix(1,0,0,1,0,0);
}
#n__dw {
	left: 22px;
	top: 3262px;
	position: absolute;
	overflow: visible;
	width: 156px;
	white-space: nowrap;
	text-align: left;
	font-family: Noto Sans CJK KR, Noto Sans CJK KR;
	font-style: normal;
	font-weight: bold;
	font-size: 35px;
	color: rgba(255,255,255,1);
}
#n_135 {
	position: absolute;
	width: 684px;
	height: 669px;
	left: 605px;
	top: 3456px;
	overflow: visible;
}
#n_50 {
	position: absolute;
	width: 684px;
	height: 669px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#n_1_dz {
	fill: rgba(255,255,255,1);
}
.n_1_dz {
	filter: drop-shadow(10px 10px 10px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 714px;
	height: 699px;
	left: 0px;
	top: 0px;
}
#n_5_d {
	position: absolute;
	width: 684px;
	height: 72px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#n_4_d {
	fill: rgba(226,255,254,1);
}
.n_4_d {
	position: absolute;
	overflow: visible;
	width: 684px;
	height: 72px;
	left: 0px;
	top: 0px;
}
#n_4_ea {
	position: absolute;
	width: 124px;
	height: 28px;
	left: 31px;
	top: 23px;
	overflow: visible;
}
#n_1_d {
	fill: rgba(255,125,125,1);
}
.n_1_d {
	position: absolute;
	overflow: visible;
	width: 28px;
	height: 28px;
	left: 0px;
	top: 0px;
}
#n_2_d {
	fill: rgba(255,194,125,1);
}
.n_2_d {
	position: absolute;
	overflow: visible;
	width: 28px;
	height: 28px;
	left: 48px;
	top: 0px;
}
#n_3_d {
	fill: rgba(255,246,125,1);
}
.n_3_d {
	position: absolute;
	overflow: visible;
	width: 28px;
	height: 28px;
	left: 96px;
	top: 0px;
}
#n_____________________ {
	left: 111px;
	top: 105px;
	position: absolute;
	overflow: visible;
	width: 463px;
	white-space: nowrap;
	text-align: center;
	font-family: Noto Sans CJK KR, Noto Sans CJK KR;
	font-style: normal;
	font-weight: bold;
	font-size: 39px;
	color: rgba(0,0,0,1);
}
#n_51 {
	position: absolute;
	width: 331px;
	height: 213px;
	left: 759px;
	top: 3240px;
	overflow: visible;
}
#Text_d {
	left: 213px;
	top: 58px;
	position: absolute;
	overflow: visible;
	width: 119px;
	white-space: nowrap;
	text-align: left;
	font-family: Noto Sans CJK KR, Noto Sans CJK KR;
	font-style: normal;
	font-weight: bold;
	font-size: 64px;
	color: rgba(255,255,255,1);
}
#n_3213213_d {
	position: absolute;
	width: 213px;
	height: 213px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#n_53 {
	position: absolute;
	width: 378.891px;
	height: 105px;
	left: 270px;
	top: 4205.5px;
	overflow: visible;
}
#n_12_eb {
	position: absolute;
	width: 102px;
	height: 102px;
	left: 0px;
	top: 3px;
	overflow: visible;
}
#Path {
	fill: rgba(97,87,255,1);
}
.Path {
	overflow: visible;
	position: absolute;
	width: 102px;
	height: 102px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Rectangle {
	position: absolute;
	width: 100px;
	height: 100px;
	left: 0.891px;
	top: 1px;
	overflow: visible;
}
#n_52 {
	position: absolute;
	width: 266.891px;
	height: 102px;
	left: 112px;
	top: 0px;
	overflow: visible;
}
#n_26 {
	position: absolute;
	width: 254px;
	height: 102px;
	left: 12.891px;
	top: 0px;
	overflow: visible;
}
#n_11_eg {
	fill: rgba(255,255,255,1);
}
.n_11_eg {
	position: absolute;
	overflow: visible;
	width: 254px;
	height: 102px;
	left: 0px;
	top: 0px;
}
#n_28 {
	position: absolute;
	width: 227px;
	height: 85px;
	left: 10px;
	top: 10px;
	overflow: visible;
}
#HomePage_Production__Park_Jun_ {
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 228px;
	white-space: nowrap;
	line-height: 23px;
	margin-top: -5.5px;
	text-align: left;
	font-family: S-Core Dream 5, Noto Sans CJK KR;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	color: rgba(23,0,148,1);
}
#mobile-alt {
	fill: rgba(0,0,0,0.6);
}
.mobile-alt {
	overflow: visible;
	position: absolute;
	width: 13.676px;
	height: 21.882px;
	left: 2.026px;
	top: 54px;
	transform: matrix(1,0,0,1,0,0);
}
#desktop {
	fill: rgba(0,0,0,0.6);
}
.desktop {
	overflow: visible;
	position: absolute;
	width: 18.05px;
	height: 16.045px;
	left: 0px;
	top: 81px;
	transform: matrix(1,0,0,1,0,0);
}
#address-book {
	fill: rgba(0,0,0,0.6);
}
.address-book {
	overflow: visible;
	position: absolute;
	width: 13.676px;
	height: 15.63px;
	left: 2.026px;
	top: 8.773px;
	transform: matrix(1,0,0,1,0,0);
}
#building {
	fill: rgba(0,0,0,0.6);
}
.building {
	overflow: visible;
	position: absolute;
	width: 16.941px;
	height: 19.361px;
	left: 0.394px;
	top: 29.521px;
	transform: matrix(1,0,0,1,0,0);
}
#n_137 {
	position: absolute;
	width: 253px;
	height: 195px;
	left: 1341px;
	top: 3930px;
	overflow: visible;
}
#n_134 {
	position: absolute;
	width: 253px;
	height: 195px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#n_57 {
	position: absolute;
	width: 253px;
	height: 195px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#n_1_eq {
	fill: rgba(255,255,255,1);
}
.n_1_eq {
	filter: drop-shadow(10px 10px 10px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 283px;
	height: 225px;
	left: 0px;
	top: 0px;
}
#n_5_er {
	position: absolute;
	width: 253px;
	height: 47px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#n_4_es {
	fill: rgba(226,255,254,1);
}
.n_4_es {
	position: absolute;
	overflow: visible;
	width: 253px;
	height: 47px;
	left: 0px;
	top: 0px;
}
#n_4_et {
	position: absolute;
	width: 82px;
	height: 18px;
	left: 20px;
	top: 15px;
	overflow: visible;
}
#n_1_eu {
	fill: rgba(255,125,125,1);
}
.n_1_eu {
	position: absolute;
	overflow: visible;
	width: 19px;
	height: 18px;
	left: 0px;
	top: 0px;
}
#n_2_ev {
	fill: rgba(255,194,125,1);
}
.n_2_ev {
	position: absolute;
	overflow: visible;
	width: 18px;
	height: 18px;
	left: 32px;
	top: 0px;
}
#n_3_ew {
	fill: rgba(255,246,125,1);
}
.n_3_ew {
	position: absolute;
	overflow: visible;
	width: 19px;
	height: 18px;
	left: 63px;
	top: 0px;
}
#Facebook {
	left: 71px;
	top: 57px;
	position: absolute;
	overflow: visible;
	width: 109px;
	white-space: nowrap;
	text-align: left;
	font-family: Noto Sans CJK KR, Noto Sans CJK KR;
	font-style: normal;
	font-weight: bold;
	font-size: 23px;
	color: rgba(0,0,0,1);
}
#Instagram {
	left: 71px;
	top: 122px;
	position: absolute;
	overflow: visible;
	width: 116px;
	white-space: nowrap;
	text-align: left;
	font-family: Noto Sans CJK KR, Noto Sans CJK KR;
	font-style: normal;
	font-weight: bold;
	font-size: 23px;
	color: rgba(0,0,0,1);
}
#n___ez {
	left: 71px;
	top: 89px;
	position: absolute;
	overflow: visible;
	width: 141px;
	white-space: nowrap;
	text-align: left;
	font-family: Noto Sans CJK KR, Noto Sans CJK KR;
	font-style: normal;
	font-weight: bold;
	font-size: 13px;
	color: rgba(81,81,81,1);
}
#n__junhyeok31015 {
	left: 71px;
	top: 157px;
	position: absolute;
	overflow: visible;
	width: 169px;
	white-space: nowrap;
	text-align: left;
	font-family: Noto Sans CJK KR, Noto Sans CJK KR;
	font-style: normal;
	font-weight: bold;
	font-size: 13px;
	color: rgba(81,81,81,1);
}
#n_133 {
	position: absolute;
	width: 49.749px;
	height: 49.749px;
	left: 11.888px;
	top: 126.236px;
	overflow: visible;
}
#n_62 {
	position: absolute;
	width: 49.749px;
	height: 49.749px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#n_61 {
	position: absolute;
	width: 49.749px;
	height: 49.749px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#n_64 {
	position: absolute;
	width: 31.323px;
	height: 31.323px;
	left: 9.213px;
	top: 9.213px;
	overflow: visible;
}
#n_63 {
	position: absolute;
	width: 31.323px;
	height: 31.323px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#n_32 {
	fill: rgba(255,255,255,1);
}
.n_32 {
	overflow: visible;
	position: absolute;
	width: 31.323px;
	height: 31.323px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#n_33 {
	fill: rgba(255,255,255,1);
}
.n_33 {
	overflow: visible;
	position: absolute;
	width: 16.085px;
	height: 16.084px;
	left: 7.619px;
	top: 7.619px;
	transform: matrix(1,0,0,1,0,0);
}
#n_5_e {
	fill: rgba(255,255,255,1);
}
.n_5_e {
	position: absolute;
	overflow: visible;
	width: 3.759px;
	height: 3.759px;
	left: 22.142px;
	top: 5.422px;
}
#n_132 {
	position: absolute;
	width: 49.749px;
	height: 49.749px;
	left: 11.888px;
	top: 57.386px;
	overflow: visible;
}
#n_89 {
	fill: rgba(70,118,237,1);
}
.n_89 {
	overflow: visible;
	position: absolute;
	width: 49.749px;
	height: 49.446px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#n_90 {
	fill: rgba(255,255,255,1);
}
.n_90 {
	overflow: visible;
	position: absolute;
	width: 21.279px;
	height: 40.032px;
	left: 14.672px;
	top: 9.716px;
	transform: matrix(1,0,0,1,0,0);
}
#n_4_fd {
	fill: url(#n_4_fd);
}
.n_4_fd {
	overflow: visible;
	position: absolute;
	width: 1920px;
	height: 77.206px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#n_147 {
	position: absolute;
	width: 108px;
	height: 50px;
	left: 1542px;
	top: 14px;
	overflow: visible;
}
#n_22 {
	position: absolute;
	width: 108px;
	height: 50px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#n_146 {
	position: absolute;
	width: 108px;
	height: 50px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#n_5_fh {
	fill: rgba(255,255,255,1);
}
.n_5_fh {
	position: absolute;
	overflow: visible;
	width: 108px;
	height: 50px;
	left: 0px;
	top: 0px;
}
#n__fi {
	left: 15px;
	top: 7px;
	position: absolute;
	overflow: visible;
	width: 79px;
	white-space: nowrap;
	text-align: center;
	font-family: Noto Sans CJK KR, Noto Sans CJK KR;
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	color: rgba(0,22,165,1);
}
#Text_fj {
	left: 43px;
	top: 31px;
	position: absolute;
	overflow: visible;
	width: 23px;
	white-space: nowrap;
	text-align: left;
	font-family: Noto Sans CJK KR, Noto Sans CJK KR;
	font-style: normal;
	font-weight: bold;
	font-size: 8px;
	color: rgba(81,81,81,1);
}
#Text_fk {
	left: 343px;
	top: 20px;
	position: absolute;
	overflow: visible;
	width: 49px;
	white-space: nowrap;
	text-align: left;
	font-family: Noto Sans CJK KR, Noto Sans CJK KR;
	font-style: normal;
	font-weight: bold;
	font-size: 26px;
	color: rgba(255,255,255,1);
}
#n_3213213_fl {
	position: absolute;
	width: 77px;
	height: 77px;
	left: 263px;
	top: 0px;
	overflow: visible;
}
#n_145 {
	position: absolute;
	width: 1368px;
	height: 897px;
	left: 276px;
	top: 2226px;
	overflow: visible;
}
#n_42_fn {
	position: absolute;
	width: 1368px;
	height: 897px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#n_1_fo {
	fill: rgba(255,255,255,1);
}
.n_1_fo {
	filter: drop-shadow(10px 10px 10px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 1398px;
	height: 927px;
	left: 0px;
	top: 0px;
}
#n_5_fp {
	position: absolute;
	width: 1368px;
	height: 72px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#n_4_fq {
	fill: rgba(226,255,254,1);
}
.n_4_fq {
	position: absolute;
	overflow: visible;
	width: 1368px;
	height: 72px;
	left: 0px;
	top: 0px;
}
#n_4_fr {
	position: absolute;
	width: 124px;
	height: 28px;
	left: 31px;
	top: 23px;
	overflow: visible;
}
#n_1_fs {
	fill: rgba(255,125,125,1);
}
.n_1_fs {
	position: absolute;
	overflow: visible;
	width: 28px;
	height: 28px;
	left: 0px;
	top: 0px;
}
#n_2_ft {
	fill: rgba(255,194,125,1);
}
.n_2_ft {
	position: absolute;
	overflow: visible;
	width: 28px;
	height: 28px;
	left: 48px;
	top: 0px;
}
#n_3_fu {
	fill: rgba(255,246,125,1);
}
.n_3_fu {
	position: absolute;
	overflow: visible;
	width: 28px;
	height: 28px;
	left: 96px;
	top: 0px;
}
#n__fv {
	left: 514px;
	top: 86px;
	position: absolute;
	overflow: visible;
	width: 342px;
	white-space: nowrap;
	text-align: left;
	font-family: Noto Sans CJK KR, Noto Sans CJK KR;
	font-style: normal;
	font-weight: bold;
	font-size: 45px;
	color: rgba(0,0,0,1);
}
#n___________ {
	left: 315px;
	top: 785px;
	position: absolute;
	overflow: visible;
	width: 739px;
	white-space: nowrap;
	text-align: center;
	font-family: Noto Sans CJK KR, Noto Sans CJK KR;
	font-style: normal;
	font-weight: bold;
	font-size: 25px;
	color: rgba(81,81,81,1);
}
#n__1_fx {
	position: absolute;
	width: 402px;
	height: 218px;
	left: 242px;
	top: 481px;
	overflow: visible;
}
#n_1_fy {
	position: absolute;
	width: 387px;
	height: 208px;
	left: 732px;
	top: 486px;
	overflow: visible;
}
#n___fz {
	position: absolute;
	width: 388px;
	height: 218px;
	left: 490px;
	top: 172px;
	overflow: visible;
}
#n___f {
	position: absolute;
	width: 388px;
	height: 218px;
	left: 925px;
	top: 172px;
	overflow: visible;
}
#n_0410__5 {
	position: absolute;
	width: 388px;
	height: 218px;
	left: 55px;
	top: 172px;
	overflow: visible;
}
#Adobe_After_Effects_f {
	left: 333px;
	top: 721px;
	position: absolute;
	overflow: visible;
	width: 234px;
	white-space: nowrap;
	text-align: left;
	font-family: Noto Sans CJK KR, Noto Sans CJK KR;
	font-style: normal;
	font-weight: bold;
	font-size: 25px;
	color: rgba(0,0,0,1);
}
#Adobe_Illustrator_f {
	left: 828px;
	top: 721px;
	position: absolute;
	overflow: visible;
	width: 208px;
	white-space: nowrap;
	text-align: left;
	font-family: Noto Sans CJK KR, Noto Sans CJK KR;
	font-style: normal;
	font-weight: bold;
	font-size: 25px;
	color: rgba(0,0,0,1);
}
#Cinema_4D {
	left: 618px;
	top: 417px;
	position: absolute;
	overflow: visible;
	width: 133px;
	white-space: nowrap;
	text-align: left;
	font-family: Noto Sans CJK KR, Noto Sans CJK KR;
	font-style: normal;
	font-weight: bold;
	font-size: 25px;
	color: rgba(0,0,0,1);
}
#Cinema_4D_f {
	left: 1053px;
	top: 417px;
	position: absolute;
	overflow: visible;
	width: 133px;
	white-space: nowrap;
	text-align: left;
	font-family: Noto Sans CJK KR, Noto Sans CJK KR;
	font-style: normal;
	font-weight: bold;
	font-size: 25px;
	color: rgba(0,0,0,1);
}
#Cinema_4D_ga {
	left: 183px;
	top: 417px;
	position: absolute;
	overflow: visible;
	width: 133px;
	white-space: nowrap;
	text-align: left;
	font-family: Noto Sans CJK KR, Noto Sans CJK KR;
	font-style: normal;
	font-weight: bold;
	font-size: 25px;
	color: rgba(0,0,0,1);
}
#n_148 {
	position: absolute;
	width: 108px;
	height: 50px;
	left: 1411px;
	top: 14px;
	overflow: visible;
}
#n_5_f {
	fill: rgba(255,255,255,1);
}
.n_5_f {
	position: absolute;
	overflow: visible;
	width: 108px;
	height: 50px;
	left: 0px;
	top: 0px;
}
#Text_f {
	left: 16px;
	top: 2px;
	position: absolute;
	overflow: visible;
	width: 78px;
	white-space: nowrap;
	text-align: left;
	font-family: Noto Sans CJK KR, Noto Sans CJK KR;
	font-style: normal;
	font-weight: bold;
	font-size: 22px;
	color: rgba(0,22,165,1);
}
#Text_ga {
	left: 43px;
	top: 32px;
	position: absolute;
	overflow: visible;
	width: 23px;
	white-space: nowrap;
	text-align: left;
	font-family: Noto Sans CJK KR, Noto Sans CJK KR;
	font-style: normal;
	font-weight: bold;
	font-size: 8px;
	color: rgba(81,81,81,1);
}
#n_149 {
	position: absolute;
	width: 108px;
	height: 50px;
	left: 1280px;
	top: 14px;
	overflow: visible;
}
#n_8_gc {
	fill: rgba(255,255,255,1);
}
.n_8_gc {
	position: absolute;
	overflow: visible;
	width: 108px;
	height: 50px;
	left: 0px;
	top: 0px;
}
#Text_gd {
	left: 34px;
	top: 2px;
	position: absolute;
	overflow: visible;
	width: 41px;
	white-space: nowrap;
	text-align: left;
	font-family: Noto Sans CJK KR, Noto Sans CJK KR;
	font-style: normal;
	font-weight: bold;
	font-size: 22px;
	color: rgba(0,22,165,1);
}
#Text_ge {
	left: 43px;
	top: 32px;
	position: absolute;
	overflow: visible;
	width: 23px;
	white-space: nowrap;
	text-align: left;
	font-family: Noto Sans CJK KR, Noto Sans CJK KR;
	font-style: normal;
	font-weight: bold;
	font-size: 8px;
	color: rgba(81,81,81,1);
}
#n_150 {
	position: absolute;
	width: 108px;
	height: 50px;
	left: 1149px;
	top: 14px;
	overflow: visible;
}
#n_9_gg {
	fill: rgba(255,255,255,1);
}
.n_9_gg {
	position: absolute;
	overflow: visible;
	width: 108px;
	height: 50px;
	left: 0px;
	top: 0px;
}
#Text_gh {
	left: 34px;
	top: 2px;
	position: absolute;
	overflow: visible;
	width: 41px;
	white-space: nowrap;
	text-align: left;
	font-family: Noto Sans CJK KR, Noto Sans CJK KR;
	font-style: normal;
	font-weight: bold;
	font-size: 22px;
	color: rgba(0,22,165,1);
}
#Text_gi {
	left: 43px;
	top: 32px;
	position: absolute;
	overflow: visible;
	width: 23px;
	white-space: nowrap;
	text-align: left;
	font-family: Noto Sans CJK KR, Noto Sans CJK KR;
	font-style: normal;
	font-weight: bold;
	font-size: 8px;
	color: rgba(81,81,81,1);
}
#n_151 {
	position: absolute;
	width: 108px;
	height: 50px;
	left: 1018px;
	top: 14px;
	overflow: visible;
}
#n_10_gk {
	fill: rgba(255,255,255,1);
}
.n_10_gk {
	position: absolute;
	overflow: visible;
	width: 108px;
	height: 50px;
	left: 0px;
	top: 0px;
}
#Text_gl {
	left: 34px;
	top: 2px;
	position: absolute;
	overflow: visible;
	width: 41px;
	white-space: nowrap;
	text-align: left;
	font-family: Noto Sans CJK KR, Noto Sans CJK KR;
	font-style: normal;
	font-weight: bold;
	font-size: 22px;
	color: rgba(0,22,165,1);
}
#Text_gm {
	left: 43px;
	top: 32px;
	position: absolute;
	overflow: visible;
	width: 23px;
	white-space: nowrap;
	text-align: left;
	font-family: Noto Sans CJK KR, Noto Sans CJK KR;
	font-style: normal;
	font-weight: bold;
	font-size: 8px;
	color: rgba(81,81,81,1);
}